:root {
  --main-color: #232323;
}
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
#body__index{
    background-image: url('../assets/bg.jpeg');
    background-size: cover;
}
#index{
    position: absolute;
    top: 0;
}
.move_img{
    cursor: move;
}

/* -------------------index-------------------- */

/* --------navbar-------- */
.navbar__modificada nav ul li .nav-mine{
    font-family: 'Inter Tight', sans-serif;
    color: var(--main-color);
    text-decoration: none;
}
.navbar__modificada nav ul li a:hover{
    color: var(--main-color);
}
.navbar__modificada nav ul li a:focus{
    color: var(--main-color);
}
.navbar__modificada nav ul li{
    font-size: 14px;
    color: rgb(32, 32, 32);
}
.navbar__modificada-brand{
    font-size: 24px;
    font-weight: 200;
    text-decoration: none;
    color: var(--main-color);
    font-family: 'Spectral';
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
    padding: 12px;
}
.navbar__modificada-brand:hover{
    color: var(--main-color);
}
.navbar__modificada{
    justify-content: space-between;
}
.navbar__modificada nav ul{
    align-items: flex-end;
    padding-right: 14px;
    list-style-type: none;
}
.navbar__modificada nav ul li{
    border: 1px solid transparent;
}
.nav-mine {
    display: inline-block;
    position: relative;
    color: var(--main-color);
}
.nav-mine:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.2px;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}  
.nav-mine:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* --------titulos-------- */
#container__frontend h2,
#container__art h2{
    color: var(--main-color);
    font-size: 110px;
    font-family: 'Belleza', sans-serif;
    text-shadow: 1px 1px 2px  rgb(141, 237, 141);
}


/* --------header photo-------- */
.header__photo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.header__photo img:nth-child(1){
    grid-row: 3;
    grid-column: 3;
}
.header__photo img:nth-child(2){
    grid-row: 2;
    grid-column: 2;
}


/* ---------wave--------- */
.flexible{
    display: flex;
    flex-wrap: nowrap;
    font-size: 80px;
    position: absolute;
    top: 50vh;
    margin: -50px;
    z-index: 2;
}
.mask{
    transform: rotate(0deg) translateY(0);
    transform-origin: center bottom;
    overflow-x: hidden;
    position: relative;
    white-space: nowrap;
    animation: wiggle 0.7s infinite ease-in-out;
}
.mask div{
    position: relative;
}
@keyframes wiggle {
    50% {
      transform: rotate(10deg) translateY(-20px);
    }
}

/* --------frontend-------- */
#container__frontend{
    margin-top: 980px;
    padding-top: 80px;
}
#container__frontend div img:hover{
    cursor:grabbing;
}
#container__frontend .cfront-one h2{
    margin-left: 140px;
    margin-top: 100px;
}
#container__frontend .cfront-two h2{
    margin-left: 200px;
    margin-top: -90px;
}
#container__frontend .cfront-one{
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 300px;
}
#container__frontend div a img{
    max-width: 250px;
    border: 0.2px solid var(--main-color);
    box-shadow: 1px 1px 2px var(--main-color);
}
#container__frontend .cfront-one div:nth-child(2){
    margin-top: 0px;
    margin-left: 240px;
}
#container__frontend .cfront-one div:nth-child(3){
    margin-top: 40px;
    margin-left: 120px;
}
#container__frontend .cfront-two{
    display: grid;
    grid-template-columns: 40% 30% 30%;
}
#container__frontend .cfront-two div:nth-child(2){
    margin-top: 100px;
}
#container__frontend .cfront-two div:nth-child(3){
    margin-top: 160px;
    margin-left: 50px;
}
#container__frontend .cfront-three a img{
    margin-left: 160px;
    margin-top: -70px;
}


/* --------art-------- */

/* cerámica */
#container__art{
    margin-top: 150px;
    padding-top: 50px;
}
#container__art #ceramicas .cArt-one{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 1fr;
}
#container__art #ceramicas h2{
    margin-left: 140px;
}
#container__art #ceramicas .cArt-one img{
    max-width: 200px;
}
#container__art #ceramicas .cArt-one div:nth-child(1){
    margin-left: 220px;
    margin-top: 100px;
}
#container__art #ceramicas .cArt-one div:nth-child(2){
    margin-left: 370px;
    margin-top: -60px;
}
#container__art #ceramicas .cArt-one div:nth-child(3){
    margin-left: 70px;
    margin-top: 100px;
}
#container__art #ceramicas .cArt-one div img,  #container__art #ceramicas div video{
    box-shadow: 1px 1px 2px 1px rgba(68, 121, 66, 0.2);
}
#container__art #ceramicas .cArt-two{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 1fr;
}
#container__art #ceramicas .cArt-two h2{
    margin-top: -160px;
    margin-left: 300px;
}
#container__art #ceramicas .cArt-two div:nth-child(1){
    margin-left: 70px;
    margin-top: 60px;
}
#container__art #ceramicas .cArt-two div:nth-child(3){
    margin-top: 80px;
}

/* --------about-------- */
.container__index-about{
    margin-top: 50px;
    padding-top: 200px;
}
.container__index-about .about__img{
    max-width: 89%;
    border-radius: 2px;
    border: 0.2px solid var(--main-color);
    box-shadow: 1px 1px 2px var(--main-color);
}
.container__index-about div p{
    font-family: 'Inter Tight', sans-serif;
    font-size: 15px;
}


/* --------marquee-------- */
.container__index-marquee{
    font-size: 36px;
    font-family: 'Spectral';
    font-weight: 200;
    margin-top: 130px;
    padding-top: 60px;
}


/* --------contacto-------- */
.container__index-form{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 60px auto;
}
.container__index-form input:not([type=submit]){
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid var(--main-color);
}
.container__index-form input::placeholder{
    color: var(--main-color);
}
.container__index-form textarea{
    padding: 8px;
}
.container__index-form input:not([type=submit]),
.container__index-form label{
    padding-top: 16px;
}
.container__index-form input,
.container__index-form label,
.container__index-form textarea,
.btn_propio{
    color: var(--main-color);
    font-size: 12px;
    font-family:'Inter Tight';
    border-radius: 0;
    background-color: transparent;
}
.container__index-form input:focus,
.container__index-form label:focus,
.container__index-form textarea:focus{
    outline: none;
}
.btn_propio{
    background-color: transparent;
    border: 1px solid var(--main-color);
    margin: 0 auto;
    margin-top: 30px;
    padding: 8px 22px;
    font-size: 12px;
}
.btn_propio:hover{
    background-color: var(--main-color);
    color: white;
}
textarea {
   resize: none;
}


/* --------RRSS-------- */
.container__index-rrss{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 80px;
    background-color: var(--main-color);
    height: 44px;
}
.container__index-rrss i{
    box-sizing: border-box;
    font-size: 22px;
    color: white;
    height: 26px;
    padding: 10px 0;
}
.container__index-rrss i:hover{
    color: rgb(141, 237, 141);
}


/* ------------ty------------ */
#ty svg{
    width: 28px;
    color: var(--main-color);
    padding: 5px;
    margin: 5px 0 0 5px;
}
.container__ty h1{
    margin-top: 60px;
    font-family: 'Cormorant Infant', serif;
    font-weight: 200;
    font-size: 16px;
    text-align: center;
    color: var(--main-color);
}
.container__ty img{
    margin-top: 50px;
    box-shadow: 1px 1px 2px 1px rgba(68, 121, 66, 0.2);
    padding: 0;
}


/* ------------media query------------ */

@media screen and (max-width: 768px) {
    /* ------------index------------ */
    .container__index-about p{
        font-size: 22px;
    }
    .container__index-bannerImg{
        flex-direction: column;
    }
    .container__index-bannerImg img{
        margin: 10px 0;
    }

    /* ------------ty------------ */
    .container__ty img{
        width: 90%;
    }
}
@media screen and (max-width: 577px) {

    #body__index, #ty{
        background-image: none;
        background-color: #ecfbe3;
    }
    /* ------------navbar------------  */
    .navbar__modificada{
        position: fixed;
        top: 0;
    }
    /* ------------header__photo------------  */
    .header__photo{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 50px;
        justify-items: center;
        margin-top: 20vh;
    }
    .header__photo img:nth-child(1){
        grid-row: 1;
        grid-column: 1;
    }
    .header__photo img:nth-child(2){
        grid-row: 2;
        grid-column: 1;
    }


    /* ------wave text------ */
    .flexible{
        font-size: 60px;
        margin: 0;
        max-width: 100vw;
        top: 85vh;
    }


    /* ------------frontend------------  */
    #container__frontend{
        margin-top: 800px;
    }
    #container__frontend .cfront-one{
        grid-template-columns: 100%;
        grid-template-rows: 0.5fr 1fr 1fr;
    }
    #container__frontend h2, #container__art h2{
        font-size: 60px;
        margin: 0;
    }
    #container__frontend .cfront-one h2, #container__frontend .cfront-two h2{
        margin-left: 30px;
    }
    #container__frontend .cfront-two h2{
        margin-top: 20px;
    }
    #container__frontend .cfront-one div:nth-child(2), 
    #container__frontend .cfront-one div:nth-child(3),
    #container__frontend .cfront-two div:nth-child(2), 
    #container__frontend .cfront-two div:nth-child(3),
    #container__frontend .cfront-three div{
        margin: 0;
    }
    #container__frontend div a img{
        max-width: 200px;
    }
    #container__frontend .cfront-two{
        grid-template-columns: 100%;
        grid-template-rows: 0.5fr 1fr 1fr;
    }
    #container__frontend .cfront-one div:nth-child(2){
        margin-left: 120px;
    }
    #container__frontend .cfront-one div:nth-child(3){
        margin-left: 20px;
        margin-top: 20px;
    }
    #container__frontend .cfront-two div:nth-child(2){
        margin-left: 180px;
    }
    #container__frontend .cfront-two div:nth-child(3){
        margin-left: 80px;
        margin-top: 20px;
    }
    #container__frontend .cfront-three a img{
        margin-left: 150px;
        margin-top: 40px;
    }

    /* container art */
    #container__art #ceramicas .cArt-one img{
        max-width: 150px;
    }
    #container__art #ceramicas .cArt-one{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
    }
    #container__art #ceramicas h2{
       margin-left: 40px;
    }
    #container__art #ceramicas .cArt-one div:nth-child(1){
        margin-left: 140px;
        margin-top: 10px;
    }
    #container__art #ceramicas .cArt-one div:nth-child(2){
        margin-left: 20px;
        margin-top: 30px;
    }
    #container__art #ceramicas .cArt-one div:nth-child(3){
        margin-left: 200px;
        margin-top: -10px;
    }
    #container__art #ceramicas .cArt-two h2{
        margin-top: -360px;
        margin-left: 40px;
    }
    #container__art #ceramicas .cArt-two{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
    }
    #container__art #ceramicas div video{
        max-width: 200px;
    }
    #container__art #ceramicas .cArt-two div:nth-child(1){
        margin-left: 60px;
        margin-top: 20px;
    }
    #container__art #ceramicas .cArt-two div:nth-child(3){
        margin-left: 100px;
        margin-top: 0px;
    }

    /* CONTAINER ABOUT */
    .container__index-about{
        margin-top: 60px;
        padding-top: 40px;
    }
    #about div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #about div div img{
        margin-bottom: 20px;
    }
    #about div p{
        padding: 0 30px;
        font-size: 13px;
        margin: 0;
    }
    #about div p:nth-child(2){
        padding-top: 20px;
    }
    #about div div video{
        width: 40%;
    }
    .container__index-marquee{
        padding: 0;
    }
    .container__index-form{
        width: 85%;
    }
    .hide{
        display: none;
    }


    /* -------ty------- */
    .container__ty h1{
        margin-top: 20px;
    }
}

/* animación index */
#header__gif {
    position: absolute;
    top: 1200px; left: 0; right: 0; bottom: 0;
    margin: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 400px;
    height: 600px;
    animation: header__gif 0.6s infinite steps(1);
}
#header__gif:hover {
    animation-play-state:paused;
}
@keyframes header__gif {
    0%   { background-image: url('../assets/ig01.png'); } 
    15%  { background-image: url('../assets/ig02.png'); }
    30%  { background-image: url('../assets/matrix.jpg');}
    45%  { background-image: url('../assets/ig04.png'); }
    60%  { background-image: url('../assets/ig05.png'); }
    75%  { background-image: url('../assets/ig07.png'); }
    90%  { background-image: url('../assets/ig06.png'); }
}
  